<h3>Please sign up yo use all features</h3>
<form [formGroup]="myForm" (ngSubmit)="onSignup()">
  <div class="form-group">
    <label for="email">E-Mail</label>
    <input formControlName="email" class="form-control" type="email" id="email" #email>
    <span *ngIf="!email.pristine && email.errors != null && email.errors['noEmail']">Invalid mail adress</span>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input formControlName="password" class="form-control" type="password" id="password">
  </div>
  <div class="form-group">
    <label for="confirm-password">Confirm password</label>
    <input formControlName="confirmPassword" type="password" class="form-control" id="confirm-password" #confirmPassword>
    <span *ngIf="!confirmPassword.pristine && confirmPassword.errors != null && confirmPassword.errors['passwordsNotMatch']">Password do not match</span>
  </div>
  <button type="submit" [disabled]="!myForm.valid" class="btn btn-primary">Sign Up</button>
</form>
